prv/*
deploy/*
cnf/*
setenv.*
.env
__pycache__/
net/lecnam/__pycache__/
net/lecnam/rcp103/__pycache__/
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/
